---
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include title.html %}
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body class="index">
    <main class="index main" role="main">
      <div class="logo">
        <img class="tsukurite-logo" src="image/tsukurite-logo.svg">
        <br>
        <img class="tsukurite" src="image/tsukurite.svg">
      </div>

      <div class="link">
        <a href="https://tsukurite.github.io/notes/">notes</a>
      </div>
    </main>
  </body>
</html>
